@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  min-width: 20rem;
  min-height: 15rem;
  padding: 3rem 2rem;
  color: $color-black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  &__titles {
    display: flex;
    justify-content: center;
    align-items: center;
    & h2 {
      margin-left: 0.5rem;
      font-size: 1.1rem !important;
      text-align: left;
    }
    & img {
      width: 1.5rem;
    }
  }
}
