@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  min-width: 20rem;
  min-height: 15rem;
  padding: 3rem;
  color: $color-black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  &__titles {
    display: flex;
    justify-content: center;
    align-items: center;
    & h2 {
      font-size: 1.2rem;
    }
    & img {
      width: 25%;
      height: 25%;
    }
  }
}
