@import "../../../styles/variables";

.topBar {
  width: 100%;
  height: 5rem;
  background-color: $color-secondary;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-image: linear-gradient(
    to right bottom,
    #f69360,
    #f68152,
    #f66d46,
    #f5553d,
    #f43737
  );
  &__container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    &__left {
      width: 50%;
      display: flex;
      justify-content: center;
      &__text {
        width: fit-content;
        padding: 1rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        & h3 {
          margin: 0;
        }
        & p {
          margin: 2rem 0;
        }
      }
    }
    &__social {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__conter {
        width: fit-content;
        padding: 1rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        & span {
          margin: 1rem 0;
          color: $color-white;
          font-weight: bold;
        }
        &__icons {
          & ul {
            display: flex;
            padding: 0;
            & li {
              list-style: none;
              margin-right: 1rem;
              & a {
                & img {
                  width: 2.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .footer {
    &__container {
      flex-direction: column-reverse;

      align-items: center;
      &__left {
        width: 100%;
        &__text {
          align-items: center;
        }
      }
    }
  }
}
