@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  height: 100%;
  max-height: fit-content;
  padding: 1rem 0 3rem 0;
  &__hero {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/assets/images/hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    & h1 {
      margin: 2rem;
      font-size: 5rem;
      font-weight: bold;
      color: $color-white;
      & span {
        padding: 0.5rem;
        background-color: $color-primary;
      }
    }
  }
  &__mid {
    @include container(15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__cards {
      padding: 3rem 0;
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      grid-gap: 2rem;
    }
    &__cardsBottom {
      width: 100%;
      padding: 0 0 3rem 0;
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2 {
      font-size: 2.5rem;
      text-align: center;
    }
    &__cards {
      width: fit-content;
      padding: 2rem 0;
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      grid-gap: 2rem;
      justify-content: center;
      align-items: center;
    }
  }
}

////-------------------RESPONSIVE-------------------//////////////

@media screen and (max-width: 1024px) {
  .container {
    &__mid {
      &__cards {
        grid-template: auto / repeat(2, 1fr);
      }
    }
    &__articles {
      &__cards {
        grid-template: auto / repeat(2, 1fr);
      }
    }
  }
}
