@import "../../../styles/variables";

.header {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  &__container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &_logo {
      width: 13rem;
      height: 1.8rem;
    }
    &__menu {
      & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        & li {
          margin: 0 0.5rem;
          list-style: none;
          & a {
            font-size: 1.1rem;
            color: $color-text-menu;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
              color: $color-black;
            }
          }
        }
      }
    }
    &__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        transition: 0.3s;
        & img {
          width: 3rem;
          margin: 0 0.5rem;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

////-------------------RESPONSIVE-------------------//////////////

@media screen and (max-width: 1024px) {
  .header {
    padding: 2rem;
    &__container {
      &_logo {
        width: 10rem;
        height: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header__container__menu {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .header {
    padding: 2rem 1rem;
    &__container {
      justify-content: space-evenly;
      &_logo {
        width: 8rem;
        height: 1.3rem;
      }
      &__search {
        display: none;
      }
      &__icons {
        & a {
          & img {
            width: 2rem;
          }
        }
      }
    }
  }
}
