//COLOR PALETTES
$color-primary: #f43737;
$color-secondary: #f4cccc;
$color-text-menu: #8f8a9a;
$color-black: #000;
$color-white: #fff;
$color-icon: #200e32;

//VARIABLES
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
